﻿		<tr class="@rowclass@">
			<td rowspan="@JudgeNumber@">@Number@</td>
			<td rowspan="@JudgeNumber@">@Couple@</td>
			<td>@Judge@</td>
			<td class="@class1@">@P1@</td>
            <td rowspan="@JudgeNumber@">@RD1@</td>
			<td rowspan="@JudgeNumber@">@Total1@</td>
			<td class="@class2@">@P2@</td>
            <td rowspan="@JudgeNumber@">@RD2@</td>
			<td rowspan="@JudgeNumber@">@Total2@</td>
			<td class="@class3@">@P3@</td>
            <td rowspan="@JudgeNumber@">@RD3@</td>
			<td rowspan="@JudgeNumber@">@Total3@</td>
			<td class="@class4@">@P4@</td>
            <td rowspan="@JudgeNumber@">@RD4@</td>
			<td rowspan="@JudgeNumber@">@Total4@</td>
			<td class="@class5@">@P5@</td>
            <td rowspan="@JudgeNumber@">@RD5@</td>
			<td rowspan="@JudgeNumber@">@Total5@</td>			
			<td rowspan="@JudgeNumber@">@Total@</td>
			<td rowspan="@JudgeNumber@" class="Place">@Place@</td>
		</tr>